.storyboard, .scienceboard {
    border-radius: 20px;
    background: rgba(218, 199, 242, 0.25);
    width: 55%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    overflow: auto;
}

@media (max-width: 767px) {
    .storyboard, .scienceboard{
        width: 90%;
    }
}
@media (max-width: 767px) {
    .storyboard, .scienceboard{
        width: 90%;
    }
}

.storyboard--nav {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}