.searchboard {
    border-radius: 20px;
    background: transparent;
    width: 55%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.searchboard {
    overflow: auto;
}

@media (max-width: 767px) {
    .searchboard {
        width: 90%;
    }
}
@media (max-width: 767px) {
    .searchboard {
        width: 90%;
    }
}
